*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  color: #384047;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  width: 480px;
  margin: 10px auto;
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 8px;
}

form h1 {
  margin: 0 auto;
  text-align: center;
  position: relative;
  width: max-content;
}
form h1::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: 0;
  left: 0%;
  margin-top: 15px;
  background: linear-gradient(-45deg, #08e1ae, #98de5b);
  border-radius: 8px;
}

form input[type="text"],
form input[type="password"],
form input[type="date"],
form input[type="datetime"],
form input[type="email"],
form input[type="number"],
form input[type="search"],
form input[type="tel"],
form input[type="file"],
form input[type="time"],
form input[type="url"],
form textarea,
form select {
  background: rgba(255, 255, 255, 0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0 auto;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  margin-bottom: 30px;
}

form input[type="radio"],
form input[type="checkbox"] {
  margin: 0 4px 8px 0;
}

form p {
  text-align: center;
}

form button {
  padding: 19px 39px 18px 39px;
  color: #fff;
  background-color: #4bc970;
  background: linear-gradient(-45deg, #08e1ae, #98de5b);
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #3ac162;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
  margin-bottom: 10px;
  cursor: pointer;
}

fieldset {
  border: none;
}

legend {
  font-size: 1.4em;
  margin-bottom: 10px;
}

label {
  /* display: block; */
  margin-bottom: 8px;
}

label.light {
  font-weight: 300;
  display: inline;
}

.number {
  background-color: #5fcf80;
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  border-radius: 100%;
}
.registration{
  width: 100%;
  margin: 10px auto;
  background: #f4f7f8;
  border-radius: 8px;
}
.registration fieldset {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 20px;
}
.registration .parent {
  margin: 0 auto;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .registration fieldset{
    grid-template-columns: 1fr;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .registration fieldset{
    grid-template-columns: 1fr;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .registration fieldset{
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .registration fieldset{
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .registration fieldset{
    grid-template-columns: repeat(3, 1fr);
  }
}

.content-wrapper{
  width: 100%;
}
/* Patient mini cards start  */
.parent-patient{
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin-top: 10px;
  padding: 0 10px;
}
.patient-item{
  height: 60px;
  width: 60px;
  border: 2px solid #5fcf80;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.04);
}
.patient-item span{
  font-weight: bolder;
  font-size: 20px;
}
.patient-details{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  list-style: none;
}
.patient-details li, .patient-details p{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.patient-details span{
  width: 80px;
  text-align: left;
  font-weight: bolder;
}
.rounded{
  border-radius: 10px !important;
  background-color: #f4f7f8 !important;
}
.img-thumbnail{
  border: 3px solid #5fcf80;
}
li i{
  color: #5fcf80 !important;
}
.color-accent{
  color: #5fcf80 !important;
}
/* patient mini cards end  */


/* Modal CSS Start*/

.wrapper {
  height: 100vh;
  /* This part is important for centering the content */
  display: flex;
  align-items: center;
  justify-content: center;
  /* End center */
 
}

.wrapper a {
  display: inline-block;
  text-decoration: none;
  padding: 15px;
  background-color: #fff;
  border-radius: 3px;
  text-transform: uppercase;
  color: #585858;
  font-family: "Roboto", sans-serif;
}

.modal {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(77, 77, 77, 0.7);
  transition: all 0.4s;
}

.modal:target {
  visibility: visible;
  opacity: 1;
}

.modal__content {
  border-radius: 4px;
  position: relative;
  width: 500px;
  max-width: 90%;
  background: #fff;
  padding: 1em 2em;
}

.modal__footer {
  text-align: right;
}
  .modal__footer a {
    color: #585858;
  }
  .modal__footer  i {
    color: #d02d2c;
  }

.modal__close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #585858;
  text-decoration: none;
}


/* Modal CSS End */

.view-btn{
  width: 5em;
  height: 2em;
  color: #fff;
  background:#3ac162;
  margin: auto;
  padding: 4px;
  border: none;
  border-radius:5px;
  margin-top: 10px;
  text-decoration: none;
  color: inherit;
 
}

/* New card start */


.p_cards{
  width: 12em;
  height: 15em;
  /* background: rgba(151, 151, 143, 0.479); */
  background:white;
  border: 1px solid  black;
  padding: 0.5em;
  float: left;
  margin-right: 1em;
  margin-top: 1em;
  border-radius: 0.6em;
  box-shadow: 0.3em 0 0.3em  rgba(0, 0, 0, 0.192);
  /* box-shadow: 0.5em  rgba(247, 4, 4, 0.719); */
  border-top: 1em solid rgb(30, 223, 30);
}
.clearfix{
  clear: both;
  
}
.card_content .name{
color: #6c6de3;
margin: 0 0 0;
/* margin-top: 1em; */
font-size: 0.95em;
font-family:'Roboto', sans-serif;
text-align: center;
}
.unique_id{
margin: 0.2em 0 0.1em 0;
text-align: center;
font-family:'Mulish', sans-serif;
color: #9395ed;
}
.line{
 
  background: #6c6de3;
  align-content: center;
  height: 1em;;
  margin-top: 0.2em;

}
.vitals{
  display: grid;
  grid-template-columns: 2.2em 2.2em;
  width: 45%;
  height: 60%;
  /* background: pink; */
  padding: 0.1em;
  text-align: center;
  float: left;
  margin-bottom: 1em;
}
.vital_info{
  font-size: 1.2em;
  font-family:'Roboto', sans-serif;
  float: right;
  margin-top: 20%;
  right: 0;
  color: #6c6de3;
  /* padding: 0.1em; */
}
.fa{
  width: 2em;
  height: 2em;
  margin-top: 0.5em;
display: block!important;
/* margin-bottom: 20px; */
/* position: relative; */
  float: left;
  font-size:1em;
  /* font-family: 'Roboto', sans-serif; */
}
.move{
  width: 2em;
  height: 2em;
  margin-top: 0.5em;
display: block!important;
/* margin-bottom: 20px; */
/* position: relative; */
  /* float: left; */
  margin-right: auto;
  margin-left: auto;
  margin-top: 45%;
  font-size:1em;
  filter: invert(44%) sepia(75%) saturate(930%) hue-rotate(157deg) brightness(95%) contrast(101%);

  
}
.movement{
  width: 45%;
  height: 60%;
  /* background: pink; */
  padding: 0.1em;
  text-align: center;
  float: right;
  margin-bottom: 1.2em;
 
}
/* New card end */